USE [master]
GO
/****** Object:  Database [QuanLySinhVien-.Net]    Script Date: 12/05/2019 16:48:07 ******/
CREATE DATABASE [QuanLySinhVien-.Net]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien-.Net', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\QuanLySinhVien-.Net.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien-.Net_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\QuanLySinhVien-.Net_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien-.Net].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien-.Net]
GO
USE [QuanLySinhVien-.Net]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/05/2019 16:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemHocTaps]    Script Date: 12/05/2019 16:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemHocTaps](
	[MaMonHoc] [nvarchar](128) NOT NULL,
	[TenMonHoc] [nvarchar](max) NULL,
	[Diem] [float] NOT NULL,
	[MaSinhVien] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.DiemHocTaps] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC,
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganhs]    Script Date: 12/05/2019 16:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganhs](
	[MaNganh] [nvarchar](128) NOT NULL,
	[TenNganh] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Nganhs] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhViens]    Script Date: 12/05/2019 16:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhViens](
	[MaSinhVien] [nvarchar](128) NOT NULL,
	[HoVaTen] [nvarchar](max) NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[MaNganh] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.SinhViens] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DiemHocTaps] ([MaMonHoc], [TenMonHoc], [Diem], [MaSinhVien]) VALUES (N'cntt1', N'Lập trình', 9, N'sv1')
INSERT [dbo].[DiemHocTaps] ([MaMonHoc], [TenMonHoc], [Diem], [MaSinhVien]) VALUES (N'cntt2', N'Thuật toán', 9, N'sv1')
INSERT [dbo].[DiemHocTaps] ([MaMonHoc], [TenMonHoc], [Diem], [MaSinhVien]) VALUES (N'van1', N'Văn học cổ điển', 7, N'sv2')
INSERT [dbo].[Nganhs] ([MaNganh], [TenNganh]) VALUES (N'cntt', N'Công nghệ thông tin')
INSERT [dbo].[Nganhs] ([MaNganh], [TenNganh]) VALUES (N'van', N'Văn học')
INSERT [dbo].[Nganhs] ([MaNganh], [TenNganh]) VALUES (N'vatly', N'Vât lý')
INSERT [dbo].[SinhViens] ([MaSinhVien], [HoVaTen], [GioiTinh], [NgaySinh], [MaNganh]) VALUES (N'sv1', N'sinh viên 1', 1, CAST(N'2019-12-05T00:00:00.000' AS DateTime), N'cntt')
INSERT [dbo].[SinhViens] ([MaSinhVien], [HoVaTen], [GioiTinh], [NgaySinh], [MaNganh]) VALUES (N'sv2', N'sinh viên 2', 0, CAST(N'2019-12-04T00:00:00.000' AS DateTime), N'vatly')
INSERT [dbo].[SinhViens] ([MaSinhVien], [HoVaTen], [GioiTinh], [NgaySinh], [MaNganh]) VALUES (N'sv3', N'sinh viên 3', 1, CAST(N'2019-12-05T00:00:00.000' AS DateTime), N'van')
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaSinhVien]    Script Date: 12/05/2019 16:48:08 ******/
CREATE NONCLUSTERED INDEX [IX_MaSinhVien] ON [dbo].[DiemHocTaps]
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNganh]    Script Date: 12/05/2019 16:48:08 ******/
CREATE NONCLUSTERED INDEX [IX_MaNganh] ON [dbo].[SinhViens]
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiemHocTaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiemHocTaps_dbo.SinhViens_MaSinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhViens] ([MaSinhVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemHocTaps] CHECK CONSTRAINT [FK_dbo.DiemHocTaps_dbo.SinhViens_MaSinhVien]
GO
ALTER TABLE [dbo].[SinhViens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SinhViens_dbo.Nganhs_MaNganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganhs] ([MaNganh])
GO
ALTER TABLE [dbo].[SinhViens] CHECK CONSTRAINT [FK_dbo.SinhViens_dbo.Nganhs_MaNganh]
GO
USE [master]
GO
